.login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &_form {
        width: 20rem;
        height: 8rem;
        display: inline-block;
        border: 0.1rem solid var(--primary-color);
        text-align: center;
        h3 {
            padding: 0 2rem;
            margin: .5rem 0;
        }
        div {
            margin: 0.2rem;
        }
    }
}