.history {
    min-height: 100%;
    h1 {
        text-align: center;
    }
    &_items {
        min-height: 25rem;
        max-height: 25rem;
        overflow-y: auto; 
        table {
            margin: auto;
            td {
                height: 3rem;
                min-width: 8rem;
                border-bottom: 0.1rem solid var(--primary-color);
            }
            thead {
                font-weight: bold;
            }
        }
    }
    &_actions {
        text-align: center;
        .button {
            margin: .1rem .5rem;
        }
    }
}